[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"

[scripts]
devserver = "flask run --host=0.0.0.0"
