[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
"wtforms[email]" = "*"
celery = "*"
# "celery[redis]" = "*"

[dev-packages]

[scripts]
devserver = "flask run --host=0.0.0.0"
