body {
  display: grid;
  justify-items: center;

  background-color: hsl(0, 0%, 10%);
  font-family: monospace;
  color: hsl(39, 99%, 67%);
}

a {
  &:link { text-decoration: none; color: inherit; }
  &:visited { color: inherit; }
}
