{% extends 'base.html' %}
{% block title %}Contact Form{% endblock %}
{% block body %}
  <div class="contact-wrapper">
    <a class="back" href="/">&larr; main page</a>
    <form class="contact-form" method="post">
      {{ form.hidden_tag() }}
      {% for attr in form %}
      {% if 'CSRF' not in (attr.label | string) %}
        {{ attr.label }}
        {{ attr }}
        {% if attr.errors %}
          {% for e in attr.errors %}
            {{ e }}
          {% endfor %}
        {% endif %}
      {% endif %}
      {% endfor %}
      <input type="submit" value="Submit">
    </form>
  </div>
{% endblock %}
