{% extends 'base.html' %}
{% block title %}Sergey Pavlov{% endblock %}
{% block body %}
  <div class="cards">
    <a class="card" href="/blog_app" onmouseover="hover(' \
      <span>❒ back-end ☛ Python (Flask)</span> \
      <span>❒ front-end ☛ Jinja & Bootstrap</span> \
      <span>❒ database ☛ PostgreSQL => SQLAlchemy</span> \
      <span>❒ deployment ☛ local K3s cluster</span> \
    ')" onmouseout="hover('')">
      Blog App
    </a>
    <a class="card" href="/music_app" onmouseover="hover(' \
      <span>❒ back-end ☛ Python (Django & DRF)</span> \
      <span>❒ front-end ☛ React & Material-UI</span> \
      <span>❒ database ☛ PostgreSQL => Django DB backend</span> \
      <span>❒ deployment ☛ local K3s cluster</span> \
    ')" onmouseout="hover('')">
      Music App
    </a>
  </div>
  <div class="desc-row">
    <div class="desc-content" id="content">
    </div>
  </div>
  </div>
  <div class="footer">
    <a href="https://github.com/DramatikMan">GitHub</a>
    <a href="/contact">Contact</a>
  </div>
{% endblock %}
{% block js %}
  <script>
      const hover = (description) => {
          document.getElementById('content').innerHTML = description;
      }
  </script>
{% endblock %}
